body {
  /*font-family: "Quicksand", sans-serif;*/
  /* font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
  font-family: "Kanit", sans-serif;
  font-style: normal;
}

.about {
    font-size: 18px;
    font-weight: 300;
    color: gray;
    margin-bottom: 24px;
}

.avatar {
    width: 210px;
    height: 210px;
    margin-bottom: 40px;
    border-radius: 50%;
    box-shadow: 5px 10px 4px #a0a0a0;
}

.button {
    background-color: black;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
}

.container {
    background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.6)), url("https://plus.unsplash.com/premium_photo-1661422081972-d4226a9ea303?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    min-height: 100vh;
    padding: 128px;
}


@media screen and (max-width: 768px){
    .container {
        padding: 48px;
    }
}


.content {
    max-width: 500px;
}

.contact {
    margin-bottom: 48px;
}


.contact-icon {
    margin-right: 10px;
    width: 16px;
}

.contact-item {
    margin-bottom: 4px;
}


.job {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 24px;
}


.name {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

@media screen and (max-width: 768px){
    .name {
        font-size: 36px;
    }
}